// Font families
$font__headline: 'Prata', Helvetica, Arial;
$font__main: 'Overpass', Helvetica, Arial;

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

// Fonnt line-heights
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// Font sizes
$font-size__h1: 60px;
$font-size__h2: 46px;
$font-size__h3: 36px;
$font-size__h4: 28px;
$font-size__h5: 22px;
$font-size__h6: 20px;